$vitesse : 3;
article.plat{
    background-color: white;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-areas: 
    "titre prix checked"
    "detail prix checked";
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 2rem 2rem;
    box-shadow: $shadow;
    animation: appear #{$vitesse}s ease-out both;
    h1{
        font-weight: 600;
        grid-area: titre;
    }
    h1, p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        margin: 0 0 0 1rem;
        padding: .5rem 0 0 0;
      }
      p{
      font-weight: 300;
      grid-area: detail;

    }
    aside{
        // @include flexCentered;
        grid-area: prix;
        font-weight: 600;
        display: flex;
        align-items: flex-end;
        height: 85%;
        margin: 0;
        padding-right: 0.5rem;
        // padding-bottom: 1rem;
        
    }
    i{
      grid-area: checked;
      width: 0;
      content: "\f058";
      font-family: "Font Awesome 5 Free";
      overflow: hidden;
      background-color: $couleurTertiaire;
      @include flexCentered;
      transition: width 1s;
      height: 100%;
      border-radius: 0 1rem 1rem 0;
      color: white;
      &::before{
        transform: rotate(360deg);
        transition: all .5s;
      }
    }

    &:hover{
      i{
        width: 3rem;
        &::before{
          transform: rotate(0deg);
        }
      }

    }
}

@keyframes appear {
  from{
    margin-top: 3rem;
    opacity: 0;
  }
  to{
    margin-top: 0;
    opacity: 1;
  }
}

@for $i from 1 through 15 {
  article.plat:nth-of-type(#{$i}) {
    animation-delay: #{($i/3)}s;
  }
}