article.restaurant{
  background-color: white;
  border-radius: 1rem;
  margin: 1rem 0rem;
  text-align: left;
  display: grid;
  grid-template-areas: 
  "image image"
  "titre coeur"
  "adresse coeur";
  grid-template-columns: auto 3rem;
  box-shadow: $shadow;
  img{
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-bottom: 0.5rem;
    grid-area: image;
  }
  h2{
    margin: 0rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 1rem;
    grid-area: titre;
  }
  address{
    font-style: normal; 
    padding-left: 1rem;
    padding-bottom: .5rem;
    grid-area: adresse;
  }
}

