section.loadingSpinner{
    padding: 0.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 3rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animationHidden 1s ease-out 3s forwards;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        z-index: 10001;
        position: absolute;
        overflow: hidden;
        background-color: white;
        opacity: 1;
        
    }
    span{
        font-family: $headerFont;
        z-index: 10002;
        animation: animationRotate 1s linear;
    }
}



@keyframes animationRotate {
    0%{ transform: rotateY(0deg) translateY(0rem); }
    30%{ transform: rotateY(0deg) translateY(-2rem); }
    50%{ transform: rotateY(180deg) translateY(-2rem); }
    70%{ transform: rotateY(360deg) translateY(-2rem); }
    100%{ transform: rotateY(360deg) translateY(0rem); }
}

@for $i from 1 through 15 {
    section.loadingSpinner > span:nth-of-type(#{$i}) {
        animation-delay: #{(($i/4))}s;
    }
}

@keyframes animationHidden {
    0%{
        height: 100%;
        opacity: 1;
        font-size: 3rem;
    }
    70%{
        opacity: 1;
    }
    70%, 100%{
        height: 3rem;
        font-size: 2em;
    }
    100%{
        opacity: 0;
    }
}

@media screen AND (min-width:1000px) {
    section.loadingSpinner{
        max-width: 1000px;
        margin: auto;
    }
}