section#fonctionnement{
    padding: 1rem 1rem;
    font-family: $textFont;
    h1{
        font-weight: 900;
    }
    article{
        height: 4rem;
        margin: 1.5rem 0rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-shadow: $shadow;
        border-radius: 1rem;
        transition: 0.5s;
        i.icone{
            padding-left: 1rem;
        }
        i.numero{
            background-color: $couleurPrimaire;
            font-family: $textFont;
            font-style: normal;
            font-size: 0.8rem;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            @include flexCentered;
            position: relative;
            right: 0.5rem;
            color: white;
            opacity: 0;
            animation: animationApparition 1s ease-out 3s forwards
        }
        p{
            font-family: $textFont;
            font-weight: 700;
            text-align: center;
            padding-left: 1rem;
        }
        &:hover{
            background-color: #f5edff;  
            transform: scale(1.05);
            i.icone{
                color: $couleurPrimaire;
            }
        }
    }
}

@keyframes animationApparition {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}