footer{
    background-color: #353535;
    color: white;
    padding: 1rem;
    display: flex   ;
    flex-flow: column;
    font-family: $textFont;
    font-size: 0.8rem;
    h5{
        font-family: $headerFont;
        font-weight: 100;
        font-size: 1rem;
        margin: 0;
        padding-bottom: 1rem;
    }
    a{
        padding: 0.3rem 0rem;
        color: white;
        text-decoration: white;
    }
}