$couleurPrimaire: #9356DC;
$couleurSecondaire: #FF79DA;
$couleurTertiaire: #99E2D0;
$grisClair: #f6f6f6;
$headerFont: 'Shrikhand', cursive;
$textFont: 'Roboto', cursive;
$shadow: 0px 5px 5px #d3d3d3;
$shadowHover: 0px 5px 5px grey;

body{
    margin: 0px;
}

@media screen AND (min-width:1000px) {
    body{
        max-width: 1000px;
        margin: auto;
    }
}

@mixin flexCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}